@font-face {
  font-family: 'EasternBrush';
  src: url(Eastern\ Brush.ttf);
}

@font-face {
  font-family: 'QuickSand';
  src: url(Quicksand_Light.otf);
}

.left {
  cursor: url("enter.png"), auto;
  position: absolute;
  top: 50px;
  left: 180px;
  height: 80%;
  width: auto;
}

.right {
  cursor: url("enter.png"), auto;
  position: absolute;
  top: 50px;
  left: 720px;
  height: 80%;
  width: auto;
}

.man {
  position: absolute;
  top: 500px;
  left: 520px;
  height: 20%;
  width: auto;
}

.hint {
  font-family: QuickSand;
  position: absolute;
  top: 0px;
  left: 130px;
  font-size: 85%;
}

.title {
  font-family: EasternBrush;
  position: absolute;
  top: 660px;
  left: 380px;
  font-size: 200%;
}

.subtitle {
  font-family: QuickSand;
  position: absolute;
  top: 700px;
  left: 530px;
  font-size: 160%;
}